* {
    text-transform: capitalize;
}

:root {

    --blue: #0D6EFD;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#dasboard-icon {
    font-size: 22px;
    line-height: 1;
    margin-right: 1rem;
    color: #484848;
}

.main-panel,
.content-wrapper {

    text-transform: capitalize;
    display: none;
}

.resferralss-section {
    width: 400px;
    height: 300px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.resferralss-section span {
    color: red;
    padding: 15px;
    font-size: 30px;
    position: absolute;
    right: -3%;
    bottom: 88%;
    cursor: pointer;
}

.copy-link {
    width: 250px;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu-wrapper {}

.sidebar {
    /* background-color: #FFC815 !important; */
    color: #fff !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.resourse {
    margin: 11px 53px;
    width: 80%;

    padding: 15px 20px;
    background-color: #0D6EFD;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}


.resourse-downd-link i {
    font-size: 20px;
}

.course-section {
    width: 100%;
}

.play-img {
    width: 20px;
}

input[type="checkbox"] {
    padding: 5px;

}

.gap {
    gap: 20px;
}

.user-img {

    text-align: center;
    text-transform: capitalize;
}

textarea {
    padding: 7px;
    outline: none;
}

::placeholder {
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
}

.racting-icons i {
    color: #FFCD40;
}

.resferrals-img {
    width: 300px;
    text-align: center;
}

.resferrals-img img {
    width: 100%;
}

form input {

    padding: 5px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;

}

.Center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.social-icon i {

    padding: 8px;
    border-radius: 9px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;

}

.social-icon i:hover {}

.social-icon i:nth-child(1) {
    color: var(--blue);
}


.social-icon i:nth-child(2) {
    color: green;
}

.social-icon i:nth-child(3) {
    color: indianred;
}

.social-icon i:nth-child(4) {
    color: var(--blue);
}

.fa-copy {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;

}

/* payment status layout */

.payment-status{

    max-width: 800px;
}
.modal-body {
    background-color: #F4F5F7;
}


.user-payment-status {
    border: 1px solid green;
    padding: 10px 15px;
    width: 300px;


}

.pay-img {
    width: 150px;

}



/* help center layout code */

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.help-center {

    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    max-width: 500px;


}

.input-box input[type="text"]:hover {
    border: 1px solid gray;
}

.help-box {
    margin: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.help-box i {
    font-size: 25px;
    cursor: pointer;
}


.help-box button {
    text-transform: capitalize;
    margin-top: 15px;
}

/* payment form */



/* help center media query */
@media (max-width:566px) {
    .input-box input[type="text"] {
        width: 300px;
    }

}

/*  */